@import './src/stylesheets/variables';

$o-comment-ui-font-family: $alphaville-marketslive-chat-font-family !default;
@import 'o-comment-ui/main';
@import "o-overlay/main";
@import "o-icons/main";
@import "o-grid/main";

@include oOverlay();

.alphaville-marketslive-chat {
	font-family: $alphaville-marketslive-chat-font-family;
	font-size: 15px;
	position: relative;

	@import './src/stylesheets/generic';
	@import './src/stylesheets/comments';
	@import './src/stylesheets/editor';
}

@import './src/stylesheets/notification';
