<li class="av-marketslive-chat--wrapper av-marketslive-chat--clearfix" {{#commentId}}id="commentid-{{commentId}}"{{/commentId}} data-timestamp="{{timestamp}}">
	<span class="av-marketslive-chat--timestamp">
		<time class="{{#relativeTime}}o-date{{/relativeTime}}" datetime="{{datetime}}">
			{{dateToShow}}&nbsp;
		</time>
	</span>

	<div class="av-marketslive-chat--author">
		{{author.displayName}}
	</div>

	<div class="av-marketslive-chat--content">
		{{{content}}}
	</div>

	{{#adminMode}}
		<a href="#" class="av-marketslive-chat--delete">Delete</a>
	{{/adminMode}}
</li>
