<div class="av-marketslive-chat--comments-wrapper">
	<div class="av-marketslive-chat--comments-area">
		<div class="av-marketslive-chat--show-more av-marketslive-chat--show-more-before">
			<div class="av-marketslive-chat--show-more-line"></div>
			<span class="av-marketslive-chat--show-more-label">Show more comments</span>
		</div>
		<ul class="av-marketslive-chat--comments-container">
			{{#comments}}
				{{{.}}}
			{{/comments}}
		</ul>
		<div class="av-marketslive-chat--show-more av-marketslive-chat--show-more-after">
			<div class="av-marketslive-chat--show-more-line"></div>
			<span class="av-marketslive-chat--show-more-label">Show more comments</span>
		</div>
	</div>
</div>
