<div class="alphaville-marketslive-chat--comments-wrapper">
	<div class="alphaville-marketslive-chat--fade alphaville-marketslive-chat--fade-top"></div>
	<div class="alphaville-marketslive-chat--comments-area">
		<div class="alphaville-marketslive-chat--show-more alphaville-marketslive-chat--show-more-before">
			<div class="alphaville-marketslive-chat--show-more-line"></div>
			<span class="alphaville-marketslive-chat--show-more-label">Show more comments</span>
		</div>
		<ul class="alphaville-marketslive-chat--comments-container">
			{{#comments}}
				{{{.}}}
			{{/comments}}
		</ul>
		<div class="alphaville-marketslive-chat--show-more alphaville-marketslive-chat--show-more-after">
			<div class="alphaville-marketslive-chat--show-more-line"></div>
			<span class="alphaville-marketslive-chat--show-more-label">Show more comments</span>
		</div>
	</div>
	<div class="alphaville-marketslive-chat--fade alphaville-marketslive-chat--fade-bottom"></div>
</div>
