<div class="av-marketslive-chat--editor-area av-marketslive-chat--clearfix">
	<div class="av-marketslive-chat--editor-auth-container av-marketslive-chat--clearfix">
		<div class="av-marketslive-chat--editor-auth">
			{{{signInTemplate}}}
		</div>
	</div>
	<div class="av-marketslive-chat--editor-container av-marketslive-chat--clearfix">
		<div class="av-marketslive-chat--editor-closed">
			<span class="o-comment-ui--icon-lock av-marketslive-chat--lock-icon"></span> This conversation is closed to new comments.
		</div>

		<div class="av-marketslive-chat--editor-input av-marketslive-chat--clearfix">
			<textarea placeholder="Add comment?"></textarea>
			<div class="av-marketslive-chat--editor-submit">
				<button type="button">{{submitButtonLabel}}</button>
			</div>
			<div class="av-marketslive-chat--editor-error"></div>
		</div>

		{{{termMessageTemplate}}}
	</div>
</div>
