<div class="alphaville-marketslive-chat--editor-area alphaville-marketslive-chat--clearfix">
	<div class="alphaville-marketslive-chat--editor-auth-container alphaville-marketslive-chat--clearfix">
		<div class="alphaville-marketslive-chat--editor-auth">
			{{{signInTemplate}}}
		</div>
	</div>
	<div class="alphaville-marketslive-chat--editor-container alphaville-marketslive-chat--clearfix">
		<div class="alphaville-marketslive-chat--editor-closed">
			<span class="o-comment-ui--icon-lock alphaville-marketslive-chat--lock-icon"></span> This conversation is closed to new comments.
		</div>

		<div class="alphaville-marketslive-chat--editor-input alphaville-marketslive-chat--clearfix">
			<textarea placeholder="Add comment?"></textarea>
			<div class="alphaville-marketslive-chat--editor-submit">
				<button type="button">{{submitButtonLabel}}</button>
			</div>
			<div class="alphaville-marketslive-chat--editor-error"></div>
		</div>

		{{{termMessageTemplate}}}
	</div>
</div>
