&.alphaville-marketslive-chat--fixed-height,
&.alphaville-marketslive-chat--stretch-vertical {
	.alphaville-marketslive-chat--comments-container {
		padding-right: 5px;
	}
}

.alphaville-marketslive-chat--comments-wrapper {
	position: relative;
}

.alphaville-marketslive-chat--fade {
	display: none;
	position: absolute;
	left: 0;
	width: 100%;
	overflow: hidden;
	color: #bf6b7d;
	padding: 15px 0;
}

.alphaville-marketslive-chat--fade-top {
	padding-bottom: 30px;
	top: 0;
	$notificatoinFadeColorStart: rgba(255, 241, 224, 1);
	$notificatoinFadeColorStop: rgba(255, 241, 224, 0);

	background: transparent;
	background-image: linear-gradient(to bottom, $notificatoinFadeColorStart, $notificatoinFadeColorStop);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF6E9D8', endColorstr='#00F6E9D8',GradientType=0); /* ie6-9 */

	&:before {
		content: '\02C4';
		font-size: 30px;
		position: absolute;
		width: 100%;
		text-align: center;
		top: 0;
		left: 0;
		font-family: Arial;
	}
}

.alphaville-marketslive-chat--fade-bottom {
	padding-top: 30px;
	bottom: 0;
	$notificatoinFadeColorStart: rgba(255, 241, 224, 1);
	$notificatoinFadeColorStop: rgba(255, 241, 224, 0);

	background: transparent;
	background-image: linear-gradient(to top, $notificatoinFadeColorStart, $notificatoinFadeColorStop);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00F6E9D8', endColorstr='#FFF6E9D8',GradientType=0); /* ie6-9 */

	&:after {
		content: '\02C5';
		font-size: 30px;
		position: absolute;
		width: 100%;
		text-align: center;
		bottom: 0;
		left: 0;
		font-family: Arial;
	}
}

.alphaville-marketslive-chat--comments-wrapper {
	position: relative;
}

.alphaville-marketslive-chat--show-more {
	display: none;

	color: white;
	text-align: center;
	position: relative;

	.alphaville-marketslive-chat--show-more-line {
		position: absolute;
		top: 50%;
		width: 100%;
		border-top: 1px solid oColorsGetPaletteColor("pink-tint2");
	}

	.alphaville-marketslive-chat--show-more-label {
		display: inline-block;
		position: relative;
		background-color: #4e8fbd;
		background-image: linear-gradient(#549ccf, #4782ab);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#549ccf,endColorstr=#4782ab);
		padding: 2px 5px;
		border-radius: 3px;
		cursor: pointer;
	}

	.alphaville-marketslive-chat--show-more-label:active {
		background: oColorsGetPaletteColor("pink-tint4");
	}
}

&.alphaville-marketslive-chat--pagination {
	&.alphaville-marketslive-chat--order-normal {
		.alphaville-marketslive-chat--show-more-after {
			display: block;
		}
	}

	&.alphaville-marketslive-chat--order-inverted {
		.alphaville-marketslive-chat--show-more-before {
			display: block;
		}
	}

	&.alphaville-marketslive-chat--stretch-vertical,
	&.alphaville-marketslive-chat--fixed-height {
		.alphaville-marketslive-chat--show-more {
			display: none;
		}
	}
}

.alphaville-marketslive-chat--wrapper {
	color: #654428;
	border-bottom: 1px solid #f4cec1;
	padding: 10px 0;
	list-style-type: none;
	list-style-position: outside;
	font-size: 13px;

	p {
		display: inline;
	}

	&.alphaville-marketslive-chat--delete-progress {
		// scss-lint:disable VendorPrefixes
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		// scss-lint:enable VendorPrefixes
		filter: alpha(opacity=50);
		opacity: 0.5;
	}

	&:last-child {
		border-bottom: 0;
	}

	.alphaville-marketslive-chat--timestamp {
		display: block;
		float: left;
		font-weight: bold;
		color: #a16b78;
	}

	.alphaville-marketslive-chat--author {
		display: block;
		font-weight: bold;
		float: right;
		color: #6e6964;
	}

	.alphaville-marketslive-chat--content {
		display: block;
		clear: both;
		color: #654428;
		padding-top: 10px;
	}

	.alphaville-marketslive-chat--delete {
		float: right;
		padding: 0 10px;
	}

	.alphaville-marketslive-chat--blocked {
		background-color: oColorsGetPaletteColor("red");
		border-radius: 15px;
		color: white;
		padding: 2px 7px;
		float: left;
		margin-right: 10px;
		font-size: 11px;
	}

	.alphaville-marketslive-chat--pending {
		background-color: oColorsGetPaletteColor("orange");
		border-radius: 15px;
		color: white;
		padding: 2px 7px;
		float: left;
		margin-right: 10px;
		font-size: 11px;
	}
}

&.alphaville-marketslive-chat--stretch-vertical.alphaville-marketslive-chat--order-inverted {
	.alphaville-marketslive-chat--comments-area {
		display: flex;
		flex-direction: column;

		&:before {
			display: flex;
			flex: 1 1 auto;
			content: '';
		}
	}
}
