&.alphaville-marketslive-chat--fixed-height,
&.alphaville-marketslive-chat--stretch-vertical {
	.alphaville-marketslive-chat--comments-container {
		padding: 0 10px;
	}
}

.alphaville-marketslive-chat--comments-wrapper {
	position: relative;

	.alphaville-marketslive-chat--comments-area {
		-webkit-overflow-scrolling: touch;
	}
}

.alphaville-marketslive-chat--show-more {
	display: none;

	color: white;
	text-align: center;
	position: relative;

	.alphaville-marketslive-chat--show-more-line {
		position: absolute;
		top: 50%;
		width: 100%;
		border-top: 1px solid oColorsGetPaletteColor("pink-tint2");
	}

	.alphaville-marketslive-chat--show-more-label {
		display: inline-block;
		position: relative;
		background-color: #4e8fbd;
		background-image: linear-gradient(#549ccf, #4782ab);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#549ccf,endColorstr=#4782ab);
		padding: 2px 5px;
		border-radius: 3px;
		cursor: pointer;
	}

	.alphaville-marketslive-chat--show-more-label:active {
		background: oColorsGetPaletteColor("pink-tint4");
	}
}

&.alphaville-marketslive-chat--pagination {
	&.alphaville-marketslive-chat--order-normal {
		.alphaville-marketslive-chat--show-more-after {
			display: block;
		}
	}

	&.alphaville-marketslive-chat--order-inverted {
		.alphaville-marketslive-chat--show-more-before {
			display: block;
		}
	}

	&.alphaville-marketslive-chat--stretch-vertical,
	&.alphaville-marketslive-chat--fixed-height {
		.alphaville-marketslive-chat--show-more {
			display: none;
		}
	}
}

.alphaville-marketslive-chat--wrapper {
	color: #654428;
	border-bottom: 1px solid #f4cec1;
	padding: 10px 0;
	list-style-type: none;
	list-style-position: outside;
	font-size: 15px;

	p {
		display: inline-block;
		word-break: break-word;
	}

	&.alphaville-marketslive-chat--delete-progress {
		// scss-lint:disable VendorPrefixes
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		// scss-lint:enable VendorPrefixes
		filter: alpha(opacity=50);
		opacity: 0.5;
	}

	&:last-child {
		border-bottom: 0;
	}

	.alphaville-marketslive-chat--timestamp {
		display: block;
		float: right;
		font-weight: bold;
		color: #a16b78;
	}

	.alphaville-marketslive-chat--author {
		display: block;
		font-weight: bold;
		float: left;
		color: #6e6964;
		word-break: break-word;
	}

	.alphaville-marketslive-chat--content {
		display: block;
		clear: both;
		color: #654428;
		padding-top: 10px;

		p {
			margin: 0;
			padding: 0;
		}
	}

	.alphaville-marketslive-chat--delete {
		float: right;
		padding: 0 10px;
	}

	.alphaville-marketslive-chat--blocked {
		background-color: oColorsGetPaletteColor("red");
		border-radius: 15px;
		color: white;
		padding: 2px 7px;
		float: left;
		margin-right: 10px;
		font-size: 13px;
	}

	.alphaville-marketslive-chat--pending {
		background-color: oColorsGetPaletteColor("orange");
		border-radius: 15px;
		color: white;
		padding: 2px 7px;
		float: left;
		margin-right: 10px;
		font-size: 13px;
	}
}

&.alphaville-marketslive-chat--stretch-vertical.alphaville-marketslive-chat--order-inverted {
	.alphaville-marketslive-chat--comments-area {
		display: flex;
		flex-direction: column;

		&:before {
			display: flex;
			flex: 1 1 auto;
			content: '';
		}
	}
}
