.alphaville-marketslive-chat--notification {
	display: none;
	position: absolute;
	left: 0;
	width: 100%;
	overflow: hidden;

	padding: 8px 0;
	text-align: center;

	.alphaville-marketslive-chat--notification-button {
		display: inline-block;
		background-color: oColorsGetPaletteColor("blue");
		color: oColorsGetPaletteColor("white");
		cursor: pointer;
		padding: 3px 8px;
		border-radius: 5px;
		font-size: 13px;
	}

	.alphaville-marketslive-chat--notification-icon-downwards {
		@include oIconsGetIcon('arrow-downwards', oColorsGetPaletteColor('white'), 12);
		margin-bottom: -2px;
	}

	.alphaville-marketslive-chat--notification-icon-upwards {
		@include oIconsGetIcon('arrow-upwards', oColorsGetPaletteColor('white'), 12);
		margin-bottom: -2px;
	}
}
